body {
    background-color: rgb(94, 0, 0);
    color: rgb(255, 149, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    border: 1px solid black;
    padding: 20px 20px;
    margin: 20px 20px;
    width: 1350px;
}
h2{
    color: rgb(255, 132, 132);
    font-size: 70pt;
}

.fail{
    color: rgb(0, 42, 255);
}
.fail2{
    color:black
}
.fail3{
    font-size: 70pt; 
    color: silver;
}
hr{
    height: 3px;
}
a{
    color:rgb(255, 162, 0);
}
footer{
    font-size: 10pt;
}
